extends layout

block content
    h1 #{title}
    hr
    form(method='POST', action='/articles/edit/'+linkup._id)
      .form-group
        label Title:
        input.form-control(name='title', type='text' value=linkup.title)
      .form-group 
        input.form-control(name='author', type='hidden' value=linkup.author)
      .form-group
        label Body:
        textarea.form-control(name='body')= linkup.body
      br
      input.btn.btn-primary.justify-content-end(type='submit', value='submit')
